/* GLOBAL */

a {
    color: black;
}

a:hover {
    color: #F0F4F4;
}

.dad-container{
    height: 100%;
    position: absolute;
}

.side-menu{
    height: 100%;
    background-color: #4B6161;
    padding: 0!important;
}

.content{
    background-color: #F0F4F4;
}

/* SIDE MENU */
.side-menu .top{
    height: 80%;
    display: flex;
    justify-content: center;
    align-content: baseline;
    align-items: flex-start;
    flex-wrap: wrap;
}

.perfil-img-box{
    margin-top: 10px;
    width: 150px;
    height: 150px;
}

.perfil-img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.side-menu .name{
    margin-top: 2.5px;
    font-size: 24px;
    font-weight: 600;
}

.side-menu .profession{
    margin-top: -7.5px;
    font-size: 16px;
}

.side-menu .menu{
    width: 100%;
    margin-top: 25%;
}

.side-menu .menu .nav .nav-item:first-child{
    border-top: 1px solid black;
}

.side-menu .menu .nav .nav-item{
    border-bottom: 1px solid black;
}

.side-menu .menu .nav .active{
    background-color: black;
}

.side-menu .menu .nav .active a{
    color: white;
}

.side-menu .menu .nav .nav-item:hover:not(.active){
    background-color: #262626;
}

.contantos{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding-bottom: 20px;
}
